[user]
	name = Pieter de Jong
	email = pieter.a.dejong@gmail.com

[core]
	editor = 'subl --new-window --wait'
	excludesfile = /Users/pieterdejong/.gitignore_global

[alias]
    st = status
    c  = commit
    p  = push
    ci = commit -v
    ll = log --oneline
    co = checkout
    br = branch
    unstage = reset HEAD --
    last = log -1 HEAD
[web]
    browser = google-chrome
